<ion-view title="Beers" hide-back-button="false" id="page12" class=" ">
    
    <ion-subheader-bar class="bar bar-subheader item-input-inset">
        <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="text" placeholder="Search for a beer" ng-model="search.name" style="width:50%" />
        
            <button class="button ion-plus pull-right button-stable" ng-click="openModal()" style="width:25%"> Add Beer</button>
        
        </ion-subheader-bar>
    
    <ion-content padding="true" class="has-header has-subheader">
        
        <br>
        
        <ion-list>
            <ion-item collection-repeat="beer in beers | filter:user.password.email | filter:search | orderBy:'name'" type="item-text-wrap">
            <h2>{{beer.name}}</h2>
                <p>{{beer.style}} | {{beer.abv}} %</p>
            </ion-item>
        </ion-list>
    
        <script id="templates/modal.html" type="text/ng-template">
        <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-dark">
          <h1 class="title">Add Beer</h1>
          <button class="button button-primary ion-close" ng-click="modal.hide()"></button>
        </ion-header-bar>
        <ion-content class="padding">
        <br>
        <form ng-submit="addBeer(data)">
            <form>
        <label>Beer Name:
        <input ng-model='data.name' type='text' id='nameInput' placeholder="Name"/>
        </label>
        <label>Beer Style:
        <input ng-model='data.style' type='text' id='styleInput' placeholder="Style"/>
        </label>
        <label>ABV:
        <input ng-model='data.abv' type='number' id='abvInput' placeholder="ABV %"/>
        </label>
        <br>
        <center> 
        <button class="button button-block ion-plus pull-right button-assertive" type="submit" style="width:50%"> Add Beer</button>
        </center>
                </div>
        </form>
            
        </ion-content>
      </ion-modal-view>
    </script>
        
    </ion-content>
    
</ion-view>