<ion-view title="Kegs" hide-back-button="true" id="page11" class=" ">
    <ion-subheader-bar class="bar bar-subheader item-input-inset">
        <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search for a keg" ng-model="search" style="width:50%" />
         
        <button class="button ion-plus pull-right button-stable" ng-click="openModal()" style="width:25%"> Add Keg</button>
        
    </ion-subheader-bar>
    <ion-content padding="true" class="has-header has-subheader">
        <center>
        <p> Swipe left on keg for actions </p>
        </center>
            <ion-list>            
            <ion-item collection-repeat="keg in kegs| filter:search | filter:user.password.email | orderBy:'location'" type="item-text-wrap">
                
                <h3>{{keg.label}}</h3>
                <p>{{keg.location}} | {{keg.contents}} | {{keg.vol}} litre</p>
                <p>Last Change: {{keg.updated | date:'dd-MMM-yy'}}</p>
                <ion-option-button class="ion-paper-airplane" ng-click="send(keg)">
                </ion-option-button>
                <ion-option-button class="ion-soup-can" ng-click="fill(keg)">
                </ion-option-button>
                <ion-option-button class="ion-soup-can-outline" ng-click="return(keg)">
                </ion-option-button>
                
            </ion-item>
            
        </ion-list>
        
              <script id="templates/modal.html" type="text/ng-template">
        <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-dark">
          <h1 class="title">Add Keg</h1>
          <button class="button button-primary ion-close" ng-click="modal.hide()"></button>
        </ion-header-bar>
        <ion-content class="padding">
        <br>
        <form ng-submit="addKeg(data)">
            <form>
        <label>Keg:
        <input ng-model='data.label' type='text' id='labelInput' placeholder="Keg Label"/>
        </label>
        <label>Volume:
        <input ng-model='data.vol' type='text' id='volInput' placeholder="Vol (l)"/>
        </label>
        <br>
        <center> 
        <button class="button button-block ion-plus pull-right button-assertive" type="submit" style="width:50%"> Add Keg</button>
        </center>
                </div>
        </form>
            
        </ion-content>
      </ion-modal-view>
    </script>
        
    <script id="send-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar class="bar bar-header bar-dark">
      <h1 class="title">Customer</h1>
        <button class="button button-primary ion-close" ng-click="popover.hide()">
        </button>
    </ion-header-bar>
    <ion-content>
        
        <ion-list>
            <ion-item collection-repeat="customer in customers | filter:user.password.email | orderBy:'name'" ng-click="sendCustomer(customer.name)">
            {{customer.name}}
            </ion-item>
        </ion-list>
        
        <center> 
        <button class="button button-clear ion-plus button-stable" ng-click="newCustomer()" style="width:50%"></button>
        </center>
        
    </ion-content>
  </ion-popover-view>
    </script>
        
            
    <script id="fill-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar class="bar bar-header bar-dark">
      <h1 class="title">Contents</h1>
        <button class="button button-primary ion-close" ng-click="popover.hide()">
        </button>
    </ion-header-bar>
    <ion-content>
        
        <ion-list>
            <ion-item collection-repeat="beer in beers | orderBy:'name' | filter:user.password.email" ng-click="fillBeer(beer.name)">
            {{beer.name}}
            </ion-item>
        </ion-list>
        
        <center> 
        <button class="button button-clear ion-plus button-stable" ng-click="newBeer()" style="width:50%"></button>
        </center>
        
    </ion-content>
  </ion-popover-view>
    </script>
    
    </ion-content>
    
    
    <ion-footer-bar>
    

        <button class="button ion-paper-airplane button-assertive button-clear" ng-click="openSendPopover($event)" style="width:50%"> Send to {{selectedName}}</button>
        <button class="button ion-soup-can button-assertive button-clear" ng-click="openFillPopover($event)" style="width:50%"> Fill with {{selectedBeer}}</button>
        
    </ion-footer-bar>
    
</ion-view>