<?xml version='1.0' encoding='utf-8'?>
<widget id          =     "com.ionicframework.mashTun"
        version     =    "1.0.0"
        xmlns       =    "http://www.w3.org/ns/widgets"
        xmlns:gap   =    "http://phonegap.com/ns/1.0"
        versionCode =   "1">
    <name>MashTun App</name>
    <description>
        A Brewery Management Tool
    </description>
    <author email="nickharre@gmail.com" >
      Nick Harre
    </author>
    <content src="index.html" />
   
</widget>